body {
  color: yellow;
  background: black;
  margin: solid 2px yellow

}

header {
  border-bottom: solid 0.5px yellow
  padding: 20px;
  font-size: 32px;

}

section {
  background: rgb(217,18,41);
  padding-bottom: 80px;
  padding-top: 80px;
}